@font-face {
  font-family: "Bicubik";
  src: url("/public/fonts/Bicubik.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html { scroll-behavior: smooth; }
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --font-display: 'Bicubik', var(--font-sans);
}

